.header {
  margin-bottom: 56px; /* o padding-top en main */
}

/* Fijar el navbar con transici칩n y sombra */
.navbar-top {
  position: fixed;
  top: 0;
  height: 56px;
  z-index: 1030;
  transition: left 0.3s ease, width 0.3s ease;
}

.navbar-vertical {
  transition: width 0.3s ease;
}

/* Cuando el sidebar est치 visible (escritorio) */
#db-wrapper:not(.toggled) .navbar-top {
  left: 250px;
  width: calc(100% - 250px);
}

/* Cuando el sidebar est치 colapsado */
#db-wrapper.toggled .navbar-top {
  left: 0;
  width: 100%;
}

/* 游님 En m칩viles siempre toma el ancho completo */
@media (max-width: 991.98px) {  
  #db-wrapper:not(.toggled) .navbar-top {
    left: 0px;
    width: 100%;
  }

  #db-wrapper.toggled .navbar-top {
    left: 250px;
  }
}