USE [master]
GO
/****** Object:  Database [DICRI]    Script Date: 21/11/2025 10:51:05 ******/
CREATE DATABASE [DICRI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DICRI', FILENAME = N'/var/opt/mssql/data/DICRI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DICRI_log', FILENAME = N'/var/opt/mssql/data/DICRI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DICRI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DICRI]
GO
/****** Object:  User [admin_dicri]    Script Date: 21/11/2025 10:51:05 ******/
CREATE USER [admin_dicri] FOR LOGIN [admin_dicri] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [admin_dicri]
GO
ALTER ROLE [db_datareader] ADD MEMBER [admin_dicri]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [admin_dicri]
GO
/****** Object:  Table [dbo].[Expediente]    Script Date: 21/11/2025 10:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expediente](
	[id_expediente] [int] IDENTITY(1,1) NOT NULL,
	[numero_expediente] [varchar](50) NOT NULL,
	[fecha_registro] [datetime] NOT NULL,
	[estado] [varchar](20) NOT NULL,
	[justificacion_rechazo] [varchar](500) NULL,
	[id_tecnico] [int] NOT NULL,
	[fecha_envio] [datetime] NULL,
	[id_enviado_por] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_expediente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Indicio]    Script Date: 21/11/2025 10:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Indicio](
	[id_indicio] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](255) NOT NULL,
	[color] [varchar](50) NULL,
	[tamano] [varchar](50) NULL,
	[peso] [decimal](10, 2) NULL,
	[ubicacion] [varchar](255) NULL,
	[fecha_registro] [datetime] NOT NULL,
	[id_expediente] [int] NOT NULL,
	[id_tecnico] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_indicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogExpediente]    Script Date: 21/11/2025 10:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogExpediente](
	[id_log] [int] IDENTITY(1,1) NOT NULL,
	[id_expediente] [int] NULL,
	[accion] [varchar](50) NULL,
	[estado_anterior] [varchar](50) NULL,
	[estado_nuevo] [varchar](50) NULL,
	[justificacion] [varchar](255) NULL,
	[id_usuario] [int] NULL,
	[fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Revision]    Script Date: 21/11/2025 10:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Revision](
	[id_revision] [int] IDENTITY(1,1) NOT NULL,
	[id_expediente] [int] NOT NULL,
	[id_coordinador] [int] NOT NULL,
	[fecha_revision] [datetime] NOT NULL,
	[resultado] [bit] NOT NULL,
	[justificacion] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_revision] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 21/11/2025 10:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[nombre_rol] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 21/11/2025 10:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[correo] [varchar](100) NOT NULL,
	[contrasena] [varchar](255) NOT NULL,
	[id_rol] [int] NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Expediente] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[Indicio] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[LogExpediente] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[Revision] ADD  DEFAULT (getdate()) FOR [fecha_revision]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Expediente]  WITH CHECK ADD FOREIGN KEY([id_enviado_por])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Expediente]  WITH CHECK ADD FOREIGN KEY([id_tecnico])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Indicio]  WITH CHECK ADD FOREIGN KEY([id_expediente])
REFERENCES [dbo].[Expediente] ([id_expediente])
GO
ALTER TABLE [dbo].[Indicio]  WITH CHECK ADD FOREIGN KEY([id_tecnico])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[LogExpediente]  WITH CHECK ADD  CONSTRAINT [FK_LogExpediente_Expediente] FOREIGN KEY([id_expediente])
REFERENCES [dbo].[Expediente] ([id_expediente])
GO
ALTER TABLE [dbo].[LogExpediente] CHECK CONSTRAINT [FK_LogExpediente_Expediente]
GO
ALTER TABLE [dbo].[LogExpediente]  WITH CHECK ADD  CONSTRAINT [FK_LogExpediente_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[LogExpediente] CHECK CONSTRAINT [FK_LogExpediente_Usuario]
GO
ALTER TABLE [dbo].[Revision]  WITH CHECK ADD FOREIGN KEY([id_coordinador])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Revision]  WITH CHECK ADD FOREIGN KEY([id_expediente])
REFERENCES [dbo].[Expediente] ([id_expediente])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([id_rol])
REFERENCES [dbo].[Rol] ([id_rol])
GO
/****** Object:  StoredProcedure [dbo].[sp_CambiaEstadoExpediente]    Script Date: 21/11/2025 10:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CambiaEstadoExpediente]
    @PId_expediente INT,
    @PNuevoEstado VARCHAR(20),       -- 'En revisión', 'Aprobado', 'Rechazado'
    @PId_usuario INT,                -- Puede ser quien envía o coordinador
    @PJustificacion VARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @EstadoAnterior VARCHAR(20);

    -- Obtener el estado actual antes de cambiarlo
    SELECT @EstadoAnterior = estado FROM Expediente WHERE id_expediente = @PId_expediente;

    -- Caso: Enviar a revisión
    IF @PNuevoEstado = 'En revisión'
    BEGIN
        UPDATE Expediente
        SET 
            estado = @PNuevoEstado,
            fecha_envio = GETDATE(),
            id_enviado_por = @PId_usuario
        WHERE id_expediente = @PId_expediente;

        -- Log
        INSERT INTO LogExpediente (
            id_expediente, accion, estado_anterior, estado_nuevo, justificacion, id_usuario
        ) VALUES (
            @PId_expediente, 'Cambio Estado', @EstadoAnterior, @PNuevoEstado, NULL, @PId_usuario
        );
    END

    -- Caso: Aprobado
    ELSE IF @PNuevoEstado = 'Aprobado'
    BEGIN
        INSERT INTO Revision (id_expediente, id_coordinador, fecha_revision, resultado)
        VALUES (@PId_expediente, @PId_usuario, GETDATE(), 1);

        UPDATE Expediente
        SET 
            estado = @PNuevoEstado,
            justificacion_rechazo = NULL
        WHERE id_expediente = @PId_expediente;

        -- Log
        INSERT INTO LogExpediente (
            id_expediente, accion, estado_anterior, estado_nuevo, justificacion, id_usuario
        ) VALUES (
            @PId_expediente, 'Cambio Estado', @EstadoAnterior, @PNuevoEstado, NULL, @PId_usuario
        );
    END

    -- Caso: Rechazado
    ELSE IF @PNuevoEstado = 'Rechazado'
    BEGIN
        INSERT INTO Revision (id_expediente, id_coordinador, resultado, justificacion)
        VALUES (@PId_expediente, @PId_usuario, 0, @PJustificacion);

        UPDATE Expediente
        SET 
            estado = @PNuevoEstado,
            justificacion_rechazo = @PJustificacion
        WHERE id_expediente = @PId_expediente;

        -- Log
        INSERT INTO LogExpediente (
            id_expediente, accion, estado_anterior, estado_nuevo, justificacion, id_usuario
        ) VALUES (
            @PId_expediente, 'Cambio Estado', @EstadoAnterior, @PNuevoEstado, @PJustificacion, @PId_usuario
        );
    END

    SELECT 'OK' AS resultado;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetExpedientes]    Script Date: 21/11/2025 10:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetExpedientes]
    @PEstado VARCHAR(20) = NULL,
    @PFecha_inicio DATE = NULL,
    @PFecha_fin DATE = NULL,
    @PId_tecnico INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        A.id_expediente, A.numero_expediente, A.fecha_registro,
        A.estado, A.justificacion_rechazo, B.nombre tecnico,
		COUNT(C.id_indicio) cantidad_indicios
    FROM Expediente A
    INNER JOIN Usuario B ON B.id_usuario = A.id_tecnico
	LEFT JOIN Indicio C ON C.id_expediente = A.id_expediente
    WHERE 
        -- FILTRO POR ESTADO
        (@PEstado IS NULL OR A.estado = @PEstado)

        -- FILTRO POR FECHAS
        AND (@PFecha_inicio IS NULL OR A.fecha_registro >= @PFecha_inicio)
        AND (@PFecha_fin IS NULL OR A.fecha_registro <= @PFecha_fin)

        -- FILTRO POR TÉCNICO
        AND (A.id_tecnico = ISNULL(@PId_tecnico, A.id_tecnico))
	GROUP BY 
        A.id_expediente, A.numero_expediente, A.fecha_registro,
        A.estado, A.justificacion_rechazo, B.nombre
    ORDER BY A.fecha_registro DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetIndiciosByExpediente]    Script Date: 21/11/2025 10:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetIndiciosByExpediente]
    @PId_expediente INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        A.id_indicio, A.descripcion, A.color, A.tamano, A.peso,
		A.ubicacion, A.fecha_registro, B.nombre tecnico
    FROM Indicio A
    INNER JOIN Usuario B ON B.id_usuario = A.id_tecnico
    WHERE A.id_expediente = @PId_expediente;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetNextNumeroExpediente]    Script Date: 21/11/2025 10:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetNextNumeroExpediente]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @anio INT = YEAR(GETDATE());
    DECLARE @ultimo VARCHAR(50);

    SELECT @ultimo = MAX(numero_expediente)
    FROM Expediente
    WHERE numero_expediente LIKE CONCAT('EXP-%-', @anio);

    IF @ultimo IS NULL
    BEGIN
        SELECT 'EXP-001-' + CAST(@anio AS VARCHAR(4)) AS siguiente;
        RETURN;
    END

    -- Extraer la parte numérica
    DECLARE @correlativo INT = CAST(SUBSTRING(@ultimo, 5, 3) AS INT);
    SET @correlativo = @correlativo + 1;

    SELECT 'EXP-' +
           RIGHT('000' + CAST(@correlativo AS VARCHAR(3)), 3) +
           '-' + CAST(@anio AS VARCHAR(4)) AS siguiente;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertExpediente]    Script Date: 21/11/2025 10:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertExpediente]
    @PNumero_expediente VARCHAR(50),
    @PId_tecnico INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Expediente (numero_expediente, fecha_registro, estado, id_tecnico)
    VALUES (@PNumero_expediente, GETDATE(), 'Registrado', @PId_tecnico);

    DECLARE @id_expediente INT = SCOPE_IDENTITY();

    -- Insertar en el log
    INSERT INTO LogExpediente (
        id_expediente, accion, estado_anterior,
        estado_nuevo, justificacion, id_usuario
    )
    VALUES (
        @id_expediente, 'Creación', NULL,
        'Registrado', NULL, @PId_tecnico
    );

    SELECT @id_expediente id_expediente;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertIndicio]    Script Date: 21/11/2025 10:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_InsertIndicio]
    @PDescripcion VARCHAR(255),
    @PColor VARCHAR(50),
    @PTamano VARCHAR(50),
    @PPeso DECIMAL(10,2),
    @PUbicacion VARCHAR(255),
    @PId_expediente INT,
    @PId_tecnico INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Indicio (descripcion, color, tamano, peso, ubicacion, fecha_registro, id_expediente, id_tecnico)
    VALUES (@PDescripcion, @PColor, @PTamano, @PPeso, @PUbicacion, GETDATE(), @PId_expediente, @PId_tecnico);

    SELECT SCOPE_IDENTITY() id_indicio;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Login]    Script Date: 21/11/2025 10:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Login]
    @PCorreo VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT id_usuario, nombre, correo, contrasena, id_rol, activo
    FROM Usuario
    WHERE correo = @PCorreo
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ReporteGeneral]    Script Date: 21/11/2025 10:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ReporteGeneral]
    @PFecha_inicio DATE = NULL,
    @PFecha_fin DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        A.id_expediente, A.numero_expediente, A.fecha_registro, A.estado, A.justificacion_rechazo,
        (SELECT COUNT(*) FROM Indicio I WHERE I.id_expediente = A.id_expediente) cantidad_indicios,
        B.nombre tecnico
    FROM Expediente A
    INNER JOIN Usuario B ON B.id_usuario = A.id_tecnico
    WHERE (@PFecha_inicio IS NULL OR A.fecha_registro >= @PFecha_inicio)
      AND (@PFecha_fin IS NULL OR A.fecha_registro <= @PFecha_fin)
    ORDER BY A.fecha_registro DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Reportes]    Script Date: 21/11/2025 10:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Reportes]
    @TipoReporte INT,
    @FechaInicio DATE = NULL,
    @FechaFin DATE = NULL,
    @IdTecnico INT = NULL,
    @IdCoordinador INT = NULL,
    @IdExpediente INT = NULL,
    @Estado VARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- 1: Expedientes por técnico
    IF @TipoReporte = 1
    BEGIN
        SELECT A.id_expediente, A.numero_expediente, A.fecha_registro, A.estado, B.nombre tecnico
        FROM Expediente A
        INNER JOIN Usuario B ON B.id_usuario = A.id_tecnico
        WHERE (@IdTecnico IS NULL OR A.id_tecnico = @IdTecnico)
          AND (@Estado IS NULL OR A.estado = @Estado)
          AND (@FechaInicio IS NULL OR A.fecha_registro >= @FechaInicio)
          AND (@FechaFin IS NULL OR A.fecha_registro <= @FechaFin)
        ORDER BY A.fecha_registro DESC
    END

    -- 2: KPI forenses (tiempos entre registro, envío, revisión)
    ELSE IF @TipoReporte = 2
    BEGIN
        SELECT 
            A.id_expediente, A.numero_expediente, A.fecha_registro,
            A.fecha_envio, D.fecha_revision,
            DATEDIFF(HOUR, A.fecha_registro, A.fecha_envio) horas_a_envio,
            DATEDIFF(HOUR, A.fecha_envio, D.fecha_revision) horas_a_revision,
            B.nombre tecnico, C.nombre coordinador
        FROM Expediente A
        LEFT JOIN Revision D ON D.id_expediente = A.id_expediente
        LEFT JOIN Usuario B ON B.id_usuario = A.id_tecnico
        LEFT JOIN Usuario C ON C.id_usuario = D.id_coordinador
        WHERE (@Estado IS NULL OR A.estado = @Estado)
          AND (@FechaInicio IS NULL OR A.fecha_registro >= @FechaInicio)
          AND (@FechaFin IS NULL OR A.fecha_registro <= @FechaFin)
        ORDER BY A.fecha_registro DESC
    END

    -- 3: Reporte de revisiones
    ELSE IF @TipoReporte = 3
    BEGIN
        SELECT 
            C.id_revision, C.id_expediente, A.numero_expediente, C.fecha_revision,
            CASE C.resultado WHEN 1 THEN 'Aprobado' ELSE 'Rechazado' END resultado,
            C.justificacion, B.nombre coordinador
        FROM Revision C
        INNER JOIN Expediente A ON A.id_expediente = C.id_expediente
        INNER JOIN Usuario B ON B.id_usuario = C.id_coordinador
        WHERE (@IdCoordinador IS NULL OR C.id_coordinador = @IdCoordinador)
          AND (@Estado IS NULL OR A.estado = @Estado)
          AND (@FechaInicio IS NULL OR C.fecha_revision >= @FechaInicio)
          AND (@FechaFin IS NULL OR C.fecha_revision <= @FechaFin)
        ORDER BY C.fecha_revision DESC
    END

    -- 4: Actividad de técnico o coordinador (expedientes, indicios, cambios de estado)
    ELSE IF @TipoReporte = 4
    BEGIN
        -- Expedientes creados
        SELECT 'Expediente' tipo, A.id_expediente, A.numero_expediente, A.fecha_registro fecha, NULL descripcion, A.estado, NULL justificacion
        FROM Expediente A
        WHERE (@IdTecnico IS NULL OR A.id_tecnico = @IdTecnico)
          AND (@Estado IS NULL OR A.estado = @Estado)
          AND (@FechaInicio IS NULL OR A.fecha_registro >= @FechaInicio)
          AND (@FechaFin IS NULL OR A.fecha_registro <= @FechaFin)

        UNION ALL

        -- Indicios registrados
        SELECT 'Indicio', I.id_indicio, NULL, I.fecha_registro, I.descripcion, NULL, NULL
        FROM Indicio I
        WHERE (@IdTecnico IS NULL OR I.id_tecnico = @IdTecnico)
          AND (@FechaInicio IS NULL OR I.fecha_registro >= @FechaInicio)
          AND (@FechaFin IS NULL OR I.fecha_registro <= @FechaFin)

        UNION ALL

        -- Cambios de estado (del log)
        SELECT 'CambioEstado', L.id_log, NULL, L.fecha, NULL, L.estado_nuevo, L.justificacion
        FROM LogExpediente L
        WHERE (@IdTecnico IS NULL OR L.id_usuario = @IdTecnico)
          AND (@Estado IS NULL OR L.estado_nuevo = @Estado)
          AND (@FechaInicio IS NULL OR L.fecha >= @FechaInicio)
          AND (@FechaFin IS NULL OR L.fecha <= @FechaFin)
        ORDER BY fecha DESC
    END

    -- 5: Reporte general de expedientes (por estado, fechas, técnico, etc.)
    ELSE IF @TipoReporte = 5
    BEGIN
        SELECT 
            A.id_expediente, A.numero_expediente, A.fecha_registro,
            A.estado, B.nombre tecnico, A.justificacion_rechazo
        FROM Expediente A
        INNER JOIN Usuario B ON B.id_usuario = A.id_tecnico
        WHERE (@Estado IS NULL OR A.estado = @Estado)
          AND (@FechaInicio IS NULL OR A.fecha_registro >= @FechaInicio)
          AND (@FechaFin IS NULL OR A.fecha_registro <= @FechaFin)
        ORDER BY A.fecha_registro DESC
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Usuario_Activar]    Script Date: 21/11/2025 10:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Usuario_Activar]
  @PId INT
AS
BEGIN
    UPDATE Usuario
    SET activo = 1
    WHERE id_usuario = @PId;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Usuario_Desactivar]    Script Date: 21/11/2025 10:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Usuario_Desactivar]
  @PId INT
AS
BEGIN
    UPDATE Usuario
    SET activo = 0
    WHERE id_usuario = @PId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Usuario_Editar]    Script Date: 21/11/2025 10:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Usuario_Editar]
  @PId INT,
  @PNombre VARCHAR(100),
  @PCorreo VARCHAR(100),
  @PRol INT,
  @PContrasena VARCHAR(200) = NULL
AS
BEGIN
    UPDATE Usuario
    SET nombre = @PNombre,
        correo = @PCorreo,
        id_rol = @PRol,
        contrasena = ISNULL(@PContrasena, contrasena)
    WHERE id_usuario = @PId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Usuario_Insertar]    Script Date: 21/11/2025 10:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Usuario_Insertar]
  @PNombre VARCHAR(100),
  @PCorreo VARCHAR(100),
  @PContrasena VARCHAR(200),
  @PRol INT,
  @PActivo BIT = 1
AS
BEGIN
    INSERT INTO Usuario (nombre, correo, contrasena, id_rol, activo)
    VALUES (@PNombre, @PCorreo, @PContrasena, @PRol, @PActivo);

    SELECT SCOPE_IDENTITY() AS id_usuario;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Usuarios_Lista]    Script Date: 21/11/2025 10:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Usuarios_Lista]
  @PRol INT = NULL
AS
BEGIN
    SELECT id_usuario, nombre, correo, id_rol, activo
    FROM Usuario
    WHERE (@PRol IS NULL OR id_rol = @PRol)
    ORDER BY activo DESC, nombre;
END
GO
USE [master]
GO
