USE [DICRI]
GO
/****** Object:  StoredProcedure [dbo].[sp_AprobarExpediente]    Script Date: 19/11/2025 23:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_AprobarExpediente]
    @PId_expediente INT,
    @PId_coordinador INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Revision (id_expediente, id_coordinador, fecha_revision, resultado)
    VALUES (@PId_expediente, @PId_coordinador, GETDATE(), 1);

    UPDATE Expediente
    SET 
        estado = 'Aprobado',
        justificacion_rechazo = NULL
    WHERE id_expediente = @PId_expediente;

    SELECT 'OK' resultado;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EnviarExpedienteRevision]    Script Date: 19/11/2025 23:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_EnviarExpedienteRevision]
    @PId_expediente INT,
    @PId_usuario_envia INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Expediente
    SET 
        estado = 'En revisión',
        fecha_envio = GETDATE(),
        id_enviado_por = @PId_usuario_envia
    WHERE id_expediente = @PId_expediente;

    SELECT 'OK' resultado;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetExpedientes]    Script Date: 19/11/2025 23:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetExpedientes]
    @PEstado VARCHAR(20) = NULL,
    @PFecha_inicio DATE = NULL,
    @PFecha_fin DATE = NULL,
    @PId_tecnico INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        A.id_expediente, 
        A.numero_expediente, 
        A.fecha_registro,
        A.estado, 
        A.justificacion_rechazo, 
        B.nombre AS tecnico
    FROM Expediente A
    INNER JOIN Usuario B ON B.id_usuario = A.id_tecnico
    WHERE 
        -- FILTRO POR ESTADO (solo si viene)
        (@PEstado IS NULL OR A.estado = @PEstado)

        -- FILTRO POR FECHAS
        AND (@PFecha_inicio IS NULL OR A.fecha_registro >= @PFecha_inicio)
        AND (@PFecha_fin IS NULL OR A.fecha_registro <= @PFecha_fin)

        -- FILTRO POR TÉCNICO (solo si viene)
        -- SI VIENE NULL → DEVUELVE TODOS
        AND (A.id_tecnico = ISNULL(@PId_tecnico, A.id_tecnico))

    ORDER BY A.fecha_registro DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetIndiciosByExpediente]    Script Date: 19/11/2025 23:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetIndiciosByExpediente]
    @PId_expediente INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        A.id_indicio, A.descripcion, A.color, A.tamano, A.peso,
		A.ubicacion, A.fecha_registro, B.nombre tecnico
    FROM Indicio A
    INNER JOIN Usuario B ON B.id_usuario = A.id_tecnico
    WHERE A.id_expediente = @PId_expediente;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertExpediente]    Script Date: 19/11/2025 23:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_InsertExpediente]
    @PNumero_expediente VARCHAR(50),
    @PId_tecnico INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Expediente (numero_expediente, fecha_registro, estado, id_tecnico)
    VALUES (@PNumero_expediente, GETDATE(), 'Registrado', @PId_tecnico);

    SELECT SCOPE_IDENTITY() id_expediente;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertIndicio]    Script Date: 19/11/2025 23:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_InsertIndicio]
    @PDescripcion VARCHAR(255),
    @PColor VARCHAR(50),
    @PTamano VARCHAR(50),
    @PPeso DECIMAL(10,2),
    @PUbicacion VARCHAR(255),
    @PId_expediente INT,
    @PId_tecnico INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Indicio (descripcion, color, tamano, peso, ubicacion, fecha_registro, id_expediente, id_tecnico)
    VALUES (@PDescripcion, @PColor, @PTamano, @PPeso, @PUbicacion, GETDATE(), @PId_expediente, @PId_tecnico);

    SELECT SCOPE_IDENTITY() id_indicio;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Login]    Script Date: 19/11/2025 23:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Login]
    @PCorreo VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT id_usuario, nombre, correo, contrasena, id_rol
    FROM Usuario
    WHERE correo = @PCorreo
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RechazarExpediente]    Script Date: 19/11/2025 23:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_RechazarExpediente]
    @PId_expediente INT,
    @PId_coordinador INT,
    @PJustificacion VARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    -- Registrar revisión
    INSERT INTO Revision (id_expediente, id_coordinador, resultado, justificacion)
    VALUES (@PId_expediente, @PId_coordinador, 0, @PJustificacion);

    -- Actualizar expediente
    UPDATE Expediente
    SET 
        estado = 'Rechazado',
        justificacion_rechazo = @PJustificacion
    WHERE id_expediente = @PId_expediente;

    SELECT 'OK' resultado;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ReporteGeneral]    Script Date: 19/11/2025 23:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ReporteGeneral]
    @PFecha_inicio DATE = NULL,
    @PFecha_fin DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        A.id_expediente, A.numero_expediente, A.fecha_registro, A.estado, A.justificacion_rechazo,
        (SELECT COUNT(*) FROM Indicio I WHERE I.id_expediente = A.id_expediente) cantidad_indicios,
        B.nombre tecnico
    FROM Expediente A
    INNER JOIN Usuario B ON B.id_usuario = A.id_tecnico
    WHERE (@PFecha_inicio IS NULL OR A.fecha_registro >= @PFecha_inicio)
      AND (@PFecha_fin IS NULL OR A.fecha_registro <= @PFecha_fin)
    ORDER BY A.fecha_registro DESC;
END;
GO
